body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bluebox{
  height:200px;
  width:200px;
  background-color: blue;
  display: inline-block;
  margin-top:50px;
}

.white{
  color: white;
  font-weight: 900;
  font-size: large;
}

.redbox{
  height:200px;
  width:200px;
  background-color: red;
  display: inline-block;
  margin-top:50px;
}

.blue{
  color: blue;
  font-weight: 800;
}

.pinkbox{
  height:200px;
  width:200px;
  background-color: pink;
  display: inline-block;
  margin-top:50px;
}

.green{
  color: forestgreen;
  font-weight: 900;
}

.App-link{
  display: flex;
  margin-top: 20px;
  margin-left: 420px;
}